:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;

    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
    
    --border-width: 3px;
    --element-border-radius: 5px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 320px;
}
/* === Common for elements === */
html, body {
    height: 100%;                /* Ensures the body and html fill the viewport */
    margin: 0;                   /* Removes any default margin that could cause spacing */
}


body {
    background-color: rgb(29, 29, 41);
    background-size: cover;          /* Ensures the background image covers the entire screen */
    background-position: center;     /* Ensures the image is centered in the viewport */
    background-repeat: no-repeat;    /* Prevents the image from repeating */
}


input, button, textarea {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
 }
 

 
 input, button {
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
 }
 
 
 input:focus, button:focus, textarea:focus {
    outline: none;
 }
 
/* === Typography === */

h1, h2 {
    margin: 0;
}

h2 {
    font-weight: 500;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 400px;
}


.title {
    background-color: none;
    font-size: 35px;
    padding: 10px;
    margin: 0px;
    width: 200px;
}

#newNote {
    font-size: 16px;
    height: auto;
    padding: 10px 15px;
    background-color: var(--primary-color);
    border: var(--border-width) solid var(--dark-color);
    border-radius: var(--element-border-radius);
    cursor: pointer;
    width: 200px;
}

#newNote:hover {
    background-color: var(--primary-light-color);
}

.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}

/* === Sections === */

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

* /*=== User Section === */

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}


/* === Nav === */

nav {
    margin: 0.6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--border-width) solid var(--light-color);
}

/* === Structure === */

.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logged-out-view .container {
    gap: 2em;
}

/* === Common for elements === */

input, button {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}

input:focus, button:focus {
    outline: none;
}
/* this is for the user profile */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* === Input fields === */
h1{
    margin-left:20px;
    color:white;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
    resize: none;
    height: 6em;
 }
 
 
 textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-color);
    opacity: 1; /* Firefox */
 }
 
 
 textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
 }
 
 
 textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
 }
 
 
 
/* === Buttons === */

button {
    font-weight: 600;
    width: 100%;
    border:none;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}

.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: rgb(221, 219, 219);
}

.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.provider-btn {
    color: var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

/* 
classes to make the sign out buttons work 
*/
#sign-out-btn{
    margin-left: 20px;
}
.icon-btn {
    width: 40px;
}

.icon-img-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
    margin-left: -10px;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}
/* === IDs === */

#logged-out-view {
    display: none;
}

#logged-in-view {
    display: none;
}

#post-section {
    display: none;
}

#notes-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 0px;
    flex-wrap: wrap;
}

.post-box {
    min-height: 300px;
    padding: 20px;
    width:200px;
    background-color: #fafafa;
    color:rgba(0, 0, 0, .25);
    word-wrap: break-word;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    border: solid 2px black;

}

.post-text {
    font-size: 14px;
    color: black;
    white-space: normal;
}

p{
    font-weight: bold;
    margin-top: -10px;
    margin-left: 20px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color-button{

    width:25px;
    height: 25px;
    align-items: center;
}
#redBtn:hover{ 
    background-color: #c52a1f; /* Darker shade for hover */
}
#blueBtn:hover{ 
    background-color: #144d81; /* Darker shade for hover */
}
#greenBtn:hover{ 
    background-color: #207c18; /* Darker shade for hover */
}
#greyBtn:hover{ 
    background-color: #535353; /* Darker shade for hover */
}
#redBtn{
    margin-left: -10px;
    background-color: rgb(255, 118, 76);
}
#greenBtn{
    margin-left: 10px;
    background-color: rgb(75, 253, 105);
}

#blueBtn{
    margin-left: 10px;
    background-color: rgb(93, 149, 252);
}
#greyBtn{

    margin-left: 10px;
    background-color: rgb(133, 133, 133);
}
/*  credit:coursera */

.buttonDiv{
    width:100%;
    position: relative;
    background-color: red;
    margin-top: 100px;
    float: bottom;
    margin-bottom: 0px;
} 
footer{
    background-color: cyan;
}
#postID{
    position: relative;
}
#ranWordBtn{
    margin-top:500px;
    align-items: bottom;
    width:200px;
    height:40px;
}
